USE [master]
GO
/****** Object:  Database [Bar]    Script Date: 12/09/2018 06:43:19 p.m. ******/
CREATE DATABASE [Bar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bar', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bar.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bar_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bar_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bar]
GO
/****** Object:  Table [dbo].[Clientes por Factura]    Script Date: 12/09/2018 06:43:22 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes por Factura](
	[Id_Cliente] [int] NOT NULL,
	[RFC] [nvarchar](50) NULL,
	[Nom_Cliente] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Producto_Facturado] [nvarchar](50) NULL,
	[Total_Facturado] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comanda]    Script Date: 12/09/2018 06:43:22 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comanda](
	[Num_Orden] [int] NULL,
	[Num_Mesa] [int] NULL,
	[Num_Personas] [int] NULL,
	[Nom_Mesero] [int] NULL,
	[Comidas_Id] [int] NULL,
	[Bebidas_id] [int] NULL,
	[Cantidad] [int] NULL,
	[Total] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 12/09/2018 06:43:22 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Num_Factura] [int] NOT NULL,
	[Nombre_Facturador] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NULL,
	[Prodcuto] [nvarchar](50) NULL,
	[Cantidad] [int] NULL,
	[Importe] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[Num_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 12/09/2018 06:43:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[Num_Mesa] [int] NULL,
	[TipoMesa_ID] [int] NULL,
	[Estatus] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tipo de Mesa]    Script Date: 12/09/2018 06:43:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo de Mesa](
	[TipoMesa_ID] [int] NOT NULL,
	[Cantidad_Personas] [int] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
